.sml-login p {
    margin-bottom: 20px;
    text-align: left;
    display: table;
    width: 100%;
}

.sml-login p label {
    font-weight: 400;
    width: 30%;
    vertical-align: middle;
    display: table-cell;
    vertical-align: middle;
}

.sml-login input[name="login_id"],
.sml-login input[name="password"] {
    border-radius: 4px;
    margin-left: 10px;
    width: 70%;
    display: table-cell;
}

.sml-login input[name="wp-submit"] {
    border: none;
    cursor: pointer;
    outline: none;
    -webkit-box-sizing: border-box;
    -webkit-appearance: button;
    appearance: none;
    width: 200px;
    background: #252f7f;
    background: -moz-linear-gradient(left, #330867, #0092bc);
    background: -webkit-linear-gradient(left, #330867, #0092bc);
    background: linear-gradient(to right, #330867, #0092bc);
    border-radius: 4px;
    box-shadow: 0px 1px 2px rgb(0 0 0 / 20%);
    color: #fff;
    padding: 0.5em 1.5em;
    margin: 0 auto;
    text-align: center;
    display: block;
}

.log-in-btn {
    color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #330867, #0092bc);
    border-style: none;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    margin-top: 20px;
    /* margin-left: 35%;*/
    margin-right: 20%;
    float: right;
}

.log-in-btn:hover {
    color: white;
}